.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  width: 100%;
}

.container {
  padding-top: 70px;
  margin: auto;
  width: 25%;
}

.login-container {
  position: relative;
  text-align: center;
  width: 400px;
}

