<div>
  <mat-card *ngIf="!verificationCodeSent">
    <mat-card-title>Reset your password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="sendVerificationCodeForm">
        <p>
          <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>

        <p *ngIf="verificationCodeErrorMessage" style="color: red">{{verificationCodeErrorMessage}}</p>

        <p>
          <button style="width: 100%" (click)="sendVerificationCode()" type="submit" mat-raised-button color="primary">
            Send verification code
          </button>
        </p>

      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="verificationCodeSent">
    <mat-card-title>Reset your password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Code" formControlName="confirmationCode">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="New password" formControlName="newPassword">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Confirm new password" formControlName="confirmNewPassword">
          </mat-form-field>
        </p>

        <p *ngIf="resetPasswordErrorMessage" style="color: red;">{{resetPasswordErrorMessage}}</p>

        <p>
          <button style="width: 100%" (click)="resetPassword()" type="submit" mat-raised-button color="primary">
            Reset password
          </button>
        </p>

      </form>
    </mat-card-content>
  </mat-card>

</div>


