:host {
  background-color: white;
}

table {
  width: 100%;
  padding: 40px;
  max-height: 500px;
}

.content-container {
  padding: 40px;
  background-color: #d9d9d9;
}

.mat-column-name {
  width: 20%;
}

.mat-column-type {
  width: 20%;
}

.mat-column-uploadTime {
  width: 20%;
}

.mat-column-size {
  width: 20%;
}

.mat-column-actions {
  width: 20%;
}

.table-container {
  max-height: 85vh;
  width: 100%;
  overflow: auto;
}
