:host {
  background-color: white;
}

table {
  width: 100%;
  padding: 40px;
}

.container {
  margin: auto;
  background-color: white;
}

.home-container {
  padding: 40px;
  background-color: white;
  height: 100%;
}

.mat-column-name {
  width: 20%;
}

.mat-column-type {
  width: 20%;
}

.mat-column-uploadTime {
  width: 20%;
}

.mat-column-size {
  width: 20%;
}

.mat-column-actions {
  width: 20%;
}
