<div class="content-container">
  <div>
    <h3 style="display: inline-block;padding-left: 30px"> Welcome<span
      *ngIf="displayWelcomeUsername">, </span>{{displayWelcomeUsername}}</h3>
    <button mat-raised-button color="accent" (click)="logout()" style="float:right;">
      <mat-icon aria-hidden="false">logout</mat-icon>
      Log out
    </button>
  </div>

  <div class="table-container">

    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="uploadTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Upload time</th>
        <td mat-cell *matCellDef="let element"> {{element.uploadTime}} </td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Size</th>
        <td mat-cell *matCellDef="let element"> {{element.formattedSize}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; justify-content: space-between;">
            <mat-icon (click)="downloadFile(element.key)" style="cursor: pointer">download</mat-icon>
            <mat-icon *ngIf="hasDeletePermission(element.key)" (click)="deleteFile(element)" style="cursor: pointer"
                      color="warn">delete
            </mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="table-actions">
        <th mat-header-cell *matHeaderCellDef
            [attr.colspan]="5">
          <mat-form-field style="padding-right: 80px">
            <input type="text" matInput placeholder="Search" (keyup)="applyFilter($event)">
          </mat-form-field>

          <button mat-stroked-button (click)="fileInput.click()">
            <mat-icon aria-hidden="false">upload</mat-icon>
            Upload file
          </button>
          <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" onclick="this.value = null">
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['table-actions'];sticky:true"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
      <tr mat-row [ngClass]="{'highlight-row': row.markedForDelete}"
          *matRowDef="let row; columns: displayedColumns; let entry;"></tr>
    </table>
  </div>
</div>
